$max-width: 720px;

$margin: 10px;
$wide-margin: 10 * $margin;
$padding: 6px;
$wide-padding: 10 * $padding;

$fonts: 'Merriweather', serif;
$font-size: 18pt;
$font-size-small: 11pt;

$background: #FFF;
$text: #223;
$shadow: #CCC;
$warn: red;


%block-base {
  display: block;
  padding: $padding;
  margin: 0 $margin $margin;
}